.root{
    -base-color: #ffffff;
    -primary_color: #4285f4;
    -primary-highlight-color: #1967d2;
    -secondary-color: #8e8e8e;
    -secondary-highlight-color: #555555;

    -fx-background-color: -base-color;
}

.button{
    -fx-background-color: -primary_color;
    -fx-background-radius: 20;
    -fx-text-fill: -base-color;

    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: -primary-highlight-color;
}

.secondary-button{
    -fx-background-color: -secondary-color;
    -fx-background-radius: 20;
    -fx-text-fill: -base-color;

    -fx-cursor: hand;
}

.secondary-button:hover{
    -fx-background-color: -secondary-highlight-color;
}

.textfield{
    -fx-background-color: -base-color;
    -fx-text-fill: "black";

    -fx-cursor: "text";
}

.rectangle{
    -fx-arc-height: 30;
    -fx-arc-width: 30;
    -fx-fill: -secondary-color;
    -fx-smooth: true;
    -fx-stroke-width: 0;
}

.scroll-pane{
    -fx-background: -base-color;
    -fx-border-color: -base-color;
    -fx-background-color: -base-color;
}

.opponentCell{
    -fx-fill: -primary_color;
    -fx-smooth: true;
    -fx-stroke: -primary-highlight-color;
    -fx-stroke-width: 3;
}

.playerCell{
    -fx-fill: -primary_color;
    -fx-smooth: true;
    -fx-stroke: -primary-highlight-color;
    -fx-stroke-width: 3;
}

.playerCell:hover{
    -fx-fill: -primary-highlight-color;
}

.tile{
    -fx-fill: -primary-highlight-color;
    -fx-smooth: true;
    -fx-stroke: -primary-highlight-color;
    -fx-stroke-width: 3;
}

.tileText{
    -fx-font-size: 15;
    -fx-font-weight: 700;
    -fx-fill: -base-color;
}
