.root{
    -fx-background-color: "#EEEEEE";
}

.button{
    -fx-background-color: "indianred";
    -fx-background-radius: 20;
    -fx-text-fill: "#EEEEEE";

    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: "crimson";
}